@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply min-h-screen w-full font-Roboto bg-gray-900
    }
}

@layer components {
    .grid-center {
        @apply grid place-items-center
    }

    .flex-center {
        @apply flex justify-center items-center
    }

    .flex-around {
        @apply flex justify-around items-center
    }

    .flex-between {
        @apply flex justify-between items-center
    }

    .navbar-btn {
        @apply py-1.5 px-6 bg-green-500 hover:bg-green-600 transition duration-200 ease-in rounded-md text-white
    }

    .form-label {
        @apply block mt-2 text-white
    }

    .form-input {
        @apply appearance-none py-2 px-2 w-full border border-gray-500 mt-2 rounded-md focus:outline-none focus:ring-1 focus:ring-green-500 bg-gray-400/30 text-white placeholder-gray-400
    }

    .form-btn {
        @apply py-2 px-6 w-full bg-green-500 hover:bg-green-600 rounded-md text-white font-bold transition duration-200 ease-in
    }

    .error {
        @apply font-bold text-red-500 mt-2
    }

    .input-style {
        @apply py-1.5 px-4 w-full rounded-full bg-gray-400/30 focus:outline-none focus:ring-1 focus:ring-gray-400 text-white placeholder-gray-400 md:py-2.5
    }
}